html , body {
    text-align: center;
    background-color: black;
    color: white;
}
h1 {
    font-family: cursive;
    text-align: center;
    color: gold;
}

p {
    font-family: cursive;
}

li {
    font-size: 20px;
    text-align: left;
    color: green;
}

.complete {
    background-color: white;
}

.active {
    background-color: black;
}
